/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

@font-face {
    font-family : 'Museo Slab';
    src         : local('Museo Slab'),
    url('/random/Museo_Slab_500.otf') format('opentype');
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
    overflow-y:scroll;
}

body {
    font: 14px/1.7 Verdana,Tahoma,sans-serif;
    background: #FFF;
}

h1 { font-size: 220%; }
h2 { font-size: 180%; }
h3 { font-size: 160%; }
h4 { font-size: 140%; }
h5 { font-size: 100%; }
h6 { font-size: 80%; font-weight:normal; color: #999; }

h1, h2, h3, h3, h5 {
    font-family: 'Museo Slab', Arial,Tahoma,sans-serif;
    font-weight:300;
    color:#A9D114;
    margin-bottom: 0.5em;
}

h2 {
    line-height:100%;
}

p {
    margin: 0 0 1.5em 0;
    Color:#222;
}

ol, ul {
    margin: 0 0 1.5em 0;
    color:#222;
}

li {
    margin-left:1em;
}

a {
  color: #0479A7;
  text-decoration:none;
}

a:hover {
    text-decoration:underline;
    color:#025785;
}

a:visited {
  color: #6ACEFC;
}

a img {
    border:0px;
}

table {
  font-size: inherit;
  font: 100%;
}

ul {
    padding-left:1em;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
ul.posts {
  list-style-type: none;
  margin: 1em 0em;
  padding: 0;
}

  ul.posts li {
    line-height: 1.75em;
  }

  ul.posts span {
    color: #999;
    font-family: Monaco, "Courier New", monospace;
    font-size: 80%;
  }

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/
.img { text-align:center; }
.imgshadow {
-moz-box-shadow: 2px 2px 5px #888;
-webkit-box-shadow: 2px 2px 5px #888;
box-shadow: 2px 2px 5px #888;
}

header {
    display:block;
    text-align:right;
    background:#2F3333;
    color:#EEE;
    padding:5px;
    padding-bottom:6px;

}

header div {
    width:46em;
    margin:0px auto;
}

header a {
    color:#EEE !important;
    font-family: 'Museo Slab', Arial,Tahoma,sans-serif;

    /* font-family:helvetica, arial; */
    font-size:140%;
    font-weight:bold;
    text-decoration:none !important;
    text-shadow:1px 1px #000, 2px 2px #000, 3px 3px #000;
}

header a:hover {
    font-style:italic;
    color:#FFF !important;
    text-shadow:1px 1px #A9D114, 2px 2px #A9D114, 3px 3px #A9D114;
}

.site {
    /* text-align: justify; */
    width: 46em;
    margin: 2em auto 2em auto;
}

.title {
    margin-bottom:0em;
    line-height:110%;
}

  .site .title a {
      color: #a00;
      font-size:110%;
      color: #a00;
      text-decoration: none;
  }

  .site .title a:hover {
    color: black;
  }

  .site .title a.extra {
    color: #aaa;
    text-decoration: none;
    margin-left: 1em;
  }

  .site .title a.extra:hover {
    color: black;
  }

  .site .meta {
      padding-bottom:1em;
    color: #aaa;
  }

  .site .footer {
    font-size: 80%;
    color: #666;
    border-top: 4px solid #eee;
    margin-top: 2em;
    padding-top:2em;
    overflow: hidden;
  }

    .site .footer .contact {
      float: left;
      margin-right: 3em;
    }


blockquote {
    font-family: Georgia,'Times New Roman',Times,Serif;
    font-style:italic;
    font-size:20px;
    position:relative;
    padding: 0 45px 0 45px;
}

blockquote p {
    color:#999;
}

blockquote:before, blockquote:after {
    height:20px;
    position:absolute;
    color: #69c;
    font-size: 400%;
    width: 50px;
}
blockquote:before {
    top:-30px;
    left:0px;
    content: open-quote;
}

blockquote:after {
    content: close-quote;
    bottom:50px;
    right:0px;
}
/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

#post {

}

  /* standard */

  #post pre {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .4em;
    margin-bottom: 1.5em;
    overflow-x:auto;
  }

  #post ul,
  #post ol {
    margin-left: 1.25em;
  }

  #post code {
    border: 1px solid #ddd;
    background-color: #eef;
    font-size: 95%;
    padding: 0 .2em;
  }

    #post pre code {
      border: none;
    }

  /* terminal */

  #post pre.terminal {
    border: 1px solid black;
    background-color: #333;
    color: white;
  }

  #post pre.terminal code {
    background-color: #333;
  }

#related {
  margin-top: 2em;
}

  #related h2 {
    margin-bottom: 0;
  }

.reviewrefer { width: 150px;  }
.reviewrefer img { width: 150px; margin: 20px; padding:5px; background:#EFEFEF;}

.reviewrefer img:hover { background:#666; }