<!DOCTYPE html>
<html lang="en">

  <head>
    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="/css/syntax.css" />
    <link rel="stylesheet" href="/css/screen.css" media="screen, projection" />

    <link rel="shortcut icon" href="/random/favicon.ico" type="image/x-icon"/>

    <link rel="alternate" href="http://feeds.feedburner.com/arandomurl"
          title="arandomurl" type="application/atom+xml" />

    <link rel="openid.server" href="http://www.myopenid.com/server" />
    <link rel="openid.delegate" href="http://daleharvey.myopenid.com" />

  </head>

  <body>

    <header><div>
        <a href="/" title="home">arandomurl.com</a>
    </div></header>

    <div class="site">
      {{ content }}
      <div class="footer">
        <div class="contact">
          <p>
            <a href="http://couchone.com">Czar of HTML5 and Erlang @ couchbase.com</a><br/>
            dale@arandomurl.com -
            <a href="http://daleharvey.org">CV</a><br />
            <a href="http://twitter.com/daleharvey/">
              twitter.com/daleharvey</a>
          </p>
        </div>
        <div class="contact"><p></p></div>
      </div>
    </div>

    <img src="//talk.io/spacer.gif" />

    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost
      + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try {
      var pageTracker = _gat._getTracker("UA-59760-7");
      pageTracker._trackPageview();
      } catch(err) {}
    </script>
  </body>
</html>
